/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
h1 {
  font-size: 2em;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
b, strong {
  font-weight: 700;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
q {
  quotes: \201C \201D \2018 \2019;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
small {
  font-size: 80%;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
sup {
  top: -.5em;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
sub {
  bottom: -.25em;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
img {
  border: 0;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
body, figure {
  margin: 0;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 4, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 6, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  10% {
    transform: scale(1, 1);
  }
  35% {
    transform: scale(1, 1.7);
  }
  40% {
    transform: scale(1, 1.7);
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language] code, [class^="lang"] code, pre [data-language], pre [class^="lang"] {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  animation: 50ms ease-in-out 2s forwards fade-in;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language] code.rainbow, [class^="lang"] code.rainbow, pre [data-language].rainbow, pre [class^="lang"].rainbow {
  animation-delay: 0s;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language] code.loading, [class^="lang"] code.loading, pre [data-language].loading, pre [class^="lang"].loading {
  animation-play-state: paused;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre {
  position: relative;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div {
  animation-play-state: running;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(1) {
  background: #0081f5;
  animation: fade 1.5s 300ms linear infinite;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(2) {
  background: #5000f5;
  animation: fade 1.5s 438ms linear infinite;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(3) {
  background: #9000f5;
  animation: fade 1.5s 577ms linear infinite;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(4) {
  background: #f50419;
  animation: fade 1.5s 715ms linear infinite;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(5) {
  background: #f57900;
  animation: fade 1.5s 853ms linear infinite;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(6) {
  background: #f5e600;
  animation: fade 1.5s 992ms linear infinite;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre.loading .preloader div:nth-of-type(7) {
  background: #00f50c;
  animation: fade 1.5s 1130ms linear infinite;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .preloader {
  position: absolute;
  top: 12px;
  left: 10px;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .preloader div {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
  opacity: 0;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre {
  background-color: #000;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre, code {
  font-family: 'Monaco', 'Menlo', courier, monospace;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre {
  background: #272822;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .comment {
  color: #75715E;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .constant {
  color: #AE81FF;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .storage {
  color: #66D9EF;
  font-style: italic;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .string, pre .comment.docstring {
  color: #E6DB74;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .support.tag {
  color: #fff;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .keyword {
  color: #F92672;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .selector, pre .storage.modifier.extends {
  color: #F92672;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .inherited-class {
  font-style: italic;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .operator, pre .support.tag-name, pre .entity.tag {
  color: #F92672;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .entity, pre .support.attribute, pre .entity.attribute {
  color: #A6E22E;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .entity.name.type, pre .entity.name.struct {
  color: #fff;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .support, pre *[data-language="c"] .function.call {
  color: #66D9EF;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .css-property, pre .storage.function {
  font-style: italic;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #A6E22E;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language="html"] .support.operator, .lang-html .support.operator, .language-html .support.operator {
  color: #fff;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language="javascript"] .variable.super, .lang-javascript .variable.super, .language-javascript .variable.super {
  color: #66D9EF;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/_normalize.scss */
[data-language="js"] .variable.super, .lang-js .variable.super, .language-js .variable.super {
  color: #66D9EF;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
[hidden] {
  display: none;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
h1 {
  font-size: 2em;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
b, strong {
  font-weight: 700;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
dfn {
  font-style: italic;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
q {
  quotes: \201C \201D \2018 \2019;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
small {
  font-size: 80%;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
sup {
  top: -.5em;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
sub {
  bottom: -.25em;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
img {
  border: 0;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
button, input {
  line-height: normal;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
body, figure {
  margin: 0;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 4, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/normalize.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
.wrapper {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
}
/* line 5, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
.wrapper--flex {
  display: flex;
}
/* line 7, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
.wrapper--flex-wrap {
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 499px) {
  /* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper {
    width: 90%;
  }
}

/* line 11, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
.wrapper--grey {
  background: #f6f4f5;
  max-width: 820px;
  margin: 0 auto;
  padding: 80px;
  position: relative;
  margin-top: 180px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 11, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper--grey {
    padding: 40px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 11, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper--grey {
    padding: 40px;
  }
}
@media screen and (max-width: 499px) {
  /* line 11, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_wrapper.sass */
  .wrapper--grey {
    padding: 40px;
  }
}

/* line 12, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
#demo-grid .wrapper--flex div {
  height: 150px;
  background: #f6f4f5;
  box-sizing: border-box;
  width: 20%;
}
@media screen and (min-width: 960px) and (max-width: 1169px) {
  /* line 12, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
  #demo-grid .wrapper--flex div {
    box-sizing: border-box;
    width: 33.33333%;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 12, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
  #demo-grid .wrapper--flex div {
    box-sizing: border-box;
    width: 33.33333%;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 12, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
  #demo-grid .wrapper--flex div {
    box-sizing: border-box;
    width: 100%;
  }
}
@media screen and (max-width: 499px) {
  /* line 12, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
  #demo-grid .wrapper--flex div {
    box-sizing: border-box;
    width: 100%;
  }
}
/* line 20, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_grid.sass */
#demo-grid .wrapper--flex div:nth-of-type(2n + 2) {
  background: #333;
}

/* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.up-five-title {
  color: #1E46F4;
  text-align: center;
  margin: 0;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  line-height: 7.2rem;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-title {
    font-size: 4.4rem;
    line-height: 5.2rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-title {
    font-size: 4.4rem;
    line-height: 5.2rem;
  }
}
@media screen and (max-width: 499px) {
  /* line 2, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-title {
    font-size: 4.4rem;
    line-height: 5.2rem;
  }
}

/* line 19, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.up-five-subtitle {
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
  margin: 30px auto 90px;
  line-height: 40px;
  color: #1E46F4;
  font-weight: 400;
  font-family: "Space Mono", monospace;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 19, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-subtitle {
    margin: 30px auto 60px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 19, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-subtitle {
    margin: 30px auto 60px;
  }
}
@media screen and (max-width: 499px) {
  /* line 19, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .up-five-subtitle {
    margin: 30px auto 60px;
  }
}

/* line 32, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.primary-title {
  background: #1E46F4;
  padding: 10px 55px 10px 55px;
  color: white;
  transform: translateX(-50%);
  display: inline-block;
  width: 108%;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: normal;
  margin: 50px 0;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 32, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .primary-title {
    width: unset;
    transform: translate(-25%);
    white-space: nowrap;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 32, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .primary-title {
    width: unset;
    transform: translate(-25%);
    white-space: nowrap;
  }
}
@media screen and (max-width: 499px) {
  /* line 32, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .primary-title {
    width: unset;
    transform: translate(-25%);
    white-space: nowrap;
  }
}

/* line 47, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.secondary-title {
  color: #1E46F4;
  position: relative;
  margin: 0;
  padding-top: 16px;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
}
/* line 55, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.secondary-title:after {
  content: "";
  background: #1E46F4;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 63, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.secondary-title-light {
  color: white;
  position: relative;
  margin: 0;
  padding-top: 16px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
}
/* line 71, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.secondary-title-light:after {
  content: "";
  background: white;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 79, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header {
  position: fixed;
  z-index: 10000;
  padding: 32px;
  width: 100%;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 79, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header {
    background: white;
  }
}
@media screen and (max-width: 499px) {
  /* line 79, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .header {
    background: white;
  }
}
/* line 86, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header > .wrapper-outer {
  position: relative;
}
/* line 88, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .menu {
  background: #1E46F4;
  color: white;
  width: 422px;
  height: 100vh;
  max-width: 85vw;
  padding: 32px 0 40px 46px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: 32px solid #fff;
}
/* line 100, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header p {
  font-size: 1.4rem;
  width: 80%;
}
/* line 103, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header input[type=text] {
  border: none;
  border-bottom: 2px solid white;
  width: 80%;
  background: #1E46F4;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
}
/* line 111, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header input[type=submit] {
  background: transparent;
  color: white;
  border: none;
  padding: 10px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}
/* line 118, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .menu-logo {
  width: 63px;
}
/* line 120, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .menu-icon {
  width: unset;
}
/* line 122, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .close {
  font-size: 3rem;
  line-height: 3.7rem;
  cursor: pointer;
}
/* line 126, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .header-bar {
  display: flex;
  justify-content: space-between;
}
/* line 129, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .header-bar .search {
  display: flex;
}
/* line 131, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .header-bar .search .fa-search {
  position: relative;
  left: 10px;
  bottom: -10px;
}
/* line 136, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header .header-bar .search-form input {
  border: none;
  border-bottom: 2px solid black;
  width: 290px;
  padding: 10px 20px;
  background: transparent;
  color: black;
}
/* line 143, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header svg {
  cursor: pointer;
}
/* line 146, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header svg:hover .line1 {
  width: 33px;
}
/* line 148, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header svg:hover .line2 {
  width: 33px;
}
/* line 150, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header svg .line1 {
  transition: 0.3s;
}
/* line 152, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header ul {
  padding-left: 36px;
  padding: 82px 0 195px 36px;
  margin: 0;
  list-style: none;
}
/* line 157, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header ul li {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: normal;
  margin-bottom: 30px;
}
/* line 162, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.header ul a {
  color: white;
}

/* line 164, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.hidden {
  display: none;
}

/* line 170, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer {
  margin: 0;
  width: 90%;
  margin: 0 auto;
  padding: 36px 0 100px 0;
}
/* line 175, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer img {
  width: 70px;
  position: absolute;
}
/* line 178, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 182, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer .image {
  float: left;
}
/* line 185, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer .info {
  width: 33.33%;
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: uppercase;
}
/* line 191, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer a {
  text-decoration: none;
  color: #4A4A4A;
  transition: 0.3s;
}
/* line 196, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
footer a:hover {
  color: #1E46F4;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 170, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer {
    padding: 30px 0 20px 0;
  }
  /* line 200, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info-wrapper {
    width: unset;
  }
  /* line 202, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info {
    width: 50%;
    margin-top: 30px;
  }
  /* line 205, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info:first-of-type {
    width: 100%;
    margin-top: 0;
  }
  /* line 208, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer img {
    position: unset;
    float: left;
    margin-right: 15px;
    display: block;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 170, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer {
    padding: 30px 0 20px 0;
  }
  /* line 200, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info-wrapper {
    width: unset;
  }
  /* line 202, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info {
    width: 50%;
    margin-top: 30px;
  }
  /* line 205, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info:first-of-type {
    width: 100%;
    margin-top: 0;
  }
  /* line 208, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer img {
    position: unset;
    float: left;
    margin-right: 15px;
    display: block;
  }
}
@media screen and (max-width: 499px) {
  /* line 170, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer {
    padding: 30px 0 20px 0;
  }
  /* line 200, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info-wrapper {
    width: unset;
  }
  /* line 202, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info {
    width: 50%;
    margin-top: 30px;
  }
  /* line 205, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer .info:first-of-type {
    width: 100%;
    margin-top: 0;
  }
  /* line 208, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  footer img {
    position: unset;
    float: left;
    margin-right: 15px;
    display: block;
  }
}

/* line 214, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 auto;
}

/* line 220, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.social-bar {
  display: flex;
  width: 295px;
  padding: 10px 0px 10px 90px;
  background: #1E46F4;
  margin-left: 105%;
  font-size: 2rem;
}
/* line 227, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.social-bar a {
  color: white;
  margin-right: 24px;
  transition: 0.3s;
}
/* line 231, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.social-bar a:hover {
  transform: translateY(-15%);
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 220, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .social-bar {
    font-size: 3rem;
    margin-left: 0;
    width: unset;
    transform: translateX(20px);
    margin-top: 60px;
    padding: 8px 0px 8px 28px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 220, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .social-bar {
    font-size: 3rem;
    margin-left: 0;
    width: unset;
    transform: translateX(20px);
    margin-top: 60px;
    padding: 8px 0px 8px 28px;
  }
}
@media screen and (max-width: 499px) {
  /* line 220, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
  .social-bar {
    font-size: 3rem;
    margin-left: 0;
    width: unset;
    transform: translateX(20px);
    margin-top: 60px;
    padding: 8px 0px 8px 28px;
  }
}

/* line 241, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.paginate {
  padding-top: 20px;
  text-align: center;
  color: black;
  font-size: 1.8rem;
}
/* line 246, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.paginate .current {
  color: #1E46F4;
}
/* line 248, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.paginate a {
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
}
/* line 252, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.paginate em {
  font-style: normal;
  font-weight: bold;
}
/* line 255, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/layout/_base.sass */
.paginate a, .paginate em, .paginate span {
  padding: 4px;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/elements/_button.sass */
.button {
  padding: 10px 32px;
  border: 1.5px solid #333;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  transition: background-color 0.3s, opacity 0.3s;
}
/* line 9, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/elements/_button.sass */
.button:hover {
  color: white;
  background: #333;
}

/* line 12, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/elements/_button.sass */
.button.button-centered {
  width: 200px;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 15px;
}

/* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-card {
  width: 60%;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-card {
    width: 90%;
  }
}
@media screen and (max-width: 499px) {
  /* line 1, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-card {
    width: 90%;
  }
}
/* line 5, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-card:nth-of-type(2n) {
  margin-left: 40%;
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  /* line 5, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-card:nth-of-type(2n) {
    margin-left: 10%;
  }
}
@media screen and (max-width: 499px) {
  /* line 5, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
  .blog-card:nth-of-type(2n) {
    margin-left: 10%;
  }
}
/* line 9, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-card p {
  font-size: 1.4rem;
  font-family: "Space Mono", monospace;
  line-height: 2.7rem;
}
/* line 13, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-card .read-more {
  color: #1E46F4;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 24px;
  display: block;
}

/* line 19, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-card + .blog-card {
  margin-top: 130px;
}

/* line 21, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.button + .blog-card {
  margin-top: 100px;
}

/* line 23, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content {
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  line-height: 2.7rem;
  letter-spacing: 0.8px;
}
/* line 28, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content img {
  max-width: 100%;
}
/* line 30, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content h2 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 30px 0;
  font-size: 1.4rem;
}
/* line 36, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content h3 {
  font-weight: 400;
  margin: 30px 0 10px;
  font-size: 1.4rem;
  font-weight: 600;
}
/* line 41, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-content a {
  color: #1E46F4;
}

/* line 43, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info {
  text-transform: uppercase;
  font-size: 1.2rem;
  position: relative;
  padding-top: 1px;
  margin-top: 80px;
}
/* line 49, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info:after {
  content: "";
  background: #1E46F4;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 57, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info .tags {
  display: flex;
}
/* line 59, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info .tags ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: #1E46F4;
  padding-left: 6px;
}
/* line 67, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info .tags ul li:after {
  content: ",";
  margin: 0 3px 0 2px;
}
/* line 71, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.post-info .tags ul li:last-of-type:after {
  content: "";
}

/* line 74, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post-admin-actions {
  margin-top: 40px;
}
/* line 76, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post-admin-actions .button {
  display: inline-block;
}
/* line 78, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-post-admin-actions .button-warning {
  color: tomato;
}

/* line 80, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.button.more-posts {
  margin: 60px auto 180px;
}

/* line 84, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap {
  background: #1E46F4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 650px;
  min-height: 100vh;
  z-index: 1000000;
  color: white;
  padding: 100px 10% 100px 46px;
}
/* line 95, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap .roadmap-close {
  font-size: 3rem;
  position: absolute;
  top: 22px;
  left: 46px;
  cursor: pointer;
  font-family: "Space Mono", monospace;
}
/* line 102, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap h2.secondary-title-light {
  margin: 105px 0 50px;
  max-width: 200px;
  line-height: 2rem;
  text-transform: lowercase;
}
/* line 107, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap a {
  color: white;
  text-decoration: none;
}
/* line 110, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap .desc {
  font-size: 1.4rem;
  text-transform: uppercase;
  max-width: 360px;
  width: 90%;
  line-height: 1.8rem;
}
/* line 116, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap ol {
  list-style: none;
  padding-left: 120px;
}
/* line 119, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap li {
  counter-increment: item;
  position: relative;
  padding-left: 65px;
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  line-height: 2.7rem;
  max-width: 340px;
}
/* line 127, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.roadmap li:before {
  content: counter(item);
  inlin-display: block;
  color: #1E46F4;
  background: white;
  position: absolute;
  font-size: 2rem;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  left: 0;
  top: 0;
  font-family: "Work Sans", sans-serif;
}

/* line 143, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-edit input, .blog-edit textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
}
/* line 147, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-edit input {
  padding: 10px 20px;
}
/* line 149, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/components/_blog_index.sass */
.blog-edit textarea {
  height: 600px;
}

/* line 6, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/styles.sass */
html {
  font-size: 62.5%;
}

/* line 8, /Users/jordandeutsch/Documents/UA5/internal-apps/code-shopify-blog/app/assets/stylesheets/styles.sass */
body {
  font-family: "Work Sans", sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: 0.3px;
}

img {
  width: 100%;
}